backend/QuizGamesServices/.vs/
backend/QuizGamesServices/Framework/bin/
backend/QuizGamesServices/Framework/obj/
backend/QuizGamesServices/QuizGamesServices/bin/
backend/QuizGamesServices/QuizGamesServices/obj/
